<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="Agenda" transaction-type="JTA">
        <jta-data-source>java:jboss/Resource/AgendaDS</jta-data-source>

        <class>com.AptiTekk.Agenda.core.entity.AppProperty</class>
        <class>com.AptiTekk.Agenda.core.entity.Asset</class>
        <class>com.AptiTekk.Agenda.core.entity.AssetType</class>
        <class>com.AptiTekk.Agenda.core.entity.Reservation</class>
        <class>com.AptiTekk.Agenda.core.entity.ReservationApproval</class>
        <class>com.AptiTekk.Agenda.core.entity.ReservationField</class>
        <class>com.AptiTekk.Agenda.core.entity.ReservationFieldEntry</class>
        <class>com.AptiTekk.Agenda.core.entity.User</class>
        <class>com.AptiTekk.Agenda.core.entity.UserGroup</class>

        <shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="hibernate.enable_lazy_load_no_trans" value="true"/>
            <property name="hibernate.cache.use_second_level_cache"
                      value="true"/>
            <property name="hibernate.cache.use_query_cache" value="true"/>
        </properties>
    </persistence-unit>
</persistence>
